<div class="container">
  <h1>Welcome to Brandon's Bike Shop</h1>
  <p>The best bicycle shop in Jacksonville!</p>
  <%= image_tag("racebike.png", class: "img-responsive my-image", alt: "Bike") %>
</div> <!-- /container -->