<div class = "container">
  <h1>Featured Product:</h1>
  <p>
    <%= @featured_product.name %>
  </p>
  <%= image_tag(@featured_product.image_url, alt: "Featured Product", class: "img-responsive my-image") %>
</div> <!-- /container -->