<div class = "panel panel-default">
  <div class = "panel-body">
  	<%= image_tag("thumbsup.jpg", class: "img-responsive my-image", alt: "thumbsup") %>
  	<p>
  	  Thank you. We have received your message and will respond as soon as possible.
  	</p>
  	<p>
      <%= link_to("Go buy some bikes!", products_path) %>
    </p>
  </div> <!-- /panel-body -->
</div> <!-- /panel -->