<table>
  <tbody>
    <tr>
      <td><p>Hi <%= @user.first_name %>!</p></td>
    </tr>
    <tr>
      <td><p>Your bike is on the way!</p>
          <p><b>Product Name: </b><%= @product.name %></p>
          <p><b>Price: </b><%= @product.price %></p>
        </td>
    </tr>
    <tr>

    </tr>
  </tbody>
</table>
