/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* HSL */
$color1: hsla(8%, 6%, 52%, 1);
$color2: hsla(216%, 16%, 54%, 1);
$color3: hsla(240%, 20%, 99%, 1);
$color4: hsla(240%, 67%, 2%, 1);
$color5: hsla(293%, 53%, 80%, 1);

/* RGB */
$color1: rgba(139, 126, 124, 1);
$color2: rgba(118, 133, 156, 1);
$color3: rgba(252, 252, 253, 1);
$color4: rgba(2, 2, 10, 1);
$color5: rgba(225, 177, 231, 1);

.search-label {
  display: inline;
  color: #fcfcfd;
}

.search-box {
  display: inline;
}

.nav-link {
  display: inline;
  margin: 0 auto;
}


